<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Dakar 2014 - </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/main.css">

        <script src="/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>


<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

      <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Dakar 2014</a>
             </div>


    <ul class="nav navbar-nav navbar-right" style="margin-top:12px">
          <div class="btn-group">
            <a href="/">
            <button type="button" class="btn btn-default" title="Inicio">
                <span class="glyphicon glyphicon-home"></span>
            </button>
            </a>
            <a href="/starttimes">
            <button type="button" class="btn btn-default" title="Drivers">
                <span class="glyphicon glyphicon-user"></span>
            </button>
            </a>
            <a href="/stage">
            <button type="button" class="btn btn-default" title="Stages">
                <span class="glyphicon glyphicon-list"></span>
            </button>
            </a>
            
            <a href="/resultado/1">
            <button type="button" class="btn btn-default" title="Results">
                <span class="glyphicon glyphicon-ok-circle"></span>
            </button>
            </a>
            
            <a href="/mapkml">
            <button type="button" class="btn btn-default" title="Map KML">
                <span class="glyphicon glyphicon-globe"></span>
            </button>
            </a>
          </div>
        
    </ul>
              
            </div>
            <div class="navbar-collapse collapse">
                
    
 
                

                
            </div><!--/.navbar-collapse -->
      </div>
    </div>

 <p><div class="container" align="middle"> </p>

</div>

</body>
</html>
