<html>
<head>
	<style>
	table
		{
			border-collapse: collapse;
		}
	table, th, tr, td 
		{
			border: 2px solid #ccc;
		}
	p.title {background-color: bisque;}
	</style>
</head>
<body>
	<a href="/">Home</a>
	<a href="/drivers">Corredores</a>
	<a href="/starttimes">Tiempos de Largada</a>
	<a href="/stage">Etapas</a>
	<a href="/resultado">Resultados</a>
	
<!--<h1>Corredores</h1>

<form action="/drivers" method="post">
	<label for="driver_id">Id
		<input name="driver_id" type="text" placeholder="driver_id">
	</label>
	<label for="name">Nombre
		<input name="name" type="text" placeholder="Nombre">
	</label>
	<button type="submit">Add</button>
</form> -->

<table border="1" cellspacing="10" align ="center">
	<h1 align="center">Corredores</h1>
	<tr>
		<td valign="top"> <h2>Upload drivers</h2>
						<form enctype="multipart/form-data" action="/drivers/upload" method="post">
						<p>File: <input type="file" name="drivers"></p>
						<p><input type="submit" value="Upload"></p>
						</form>
		</td>

		<td>
			<table border="1" bordercolor="#ccc">
				<thead>
					<tr>
						<th><p class="title">Driver_id</p></th>
						<th><p class="title">Name</p></th>
						<th><p class="title">Country</p></th>
					</tr>
				</thead>
			<tbody>
				% for driver in drivers:
				<tr>
			       <td>{{driver.driver_id}}</td>
			       <td>{{driver.name}}</td>
			       <td>{{driver.country}}</td>
				</tr>
				% end
			</tbody>
			</table>
		</td>
	</tr>
</table>


</body>
</html>