<html>
<head>
</head>
<body>
	<a href="/">Home</a>
	<a href="/drivers">Corredores</a>
	<a href="/starttimes">Tiempos de Largada</a>
	<a href="/stage">Etapas</a>
	<a href="/resultado">Resultados</a>

	<h1>Cargar datos</h1>
	<form action="/" method="post">
		<p>Desde: <input type="text" name="from" placeholder="YYYY-MM-DD"></p>
		<p>Hasta: <input type="text" name="to" placeholder="YYYY-MM-DD"></p>
		<button type="submit">Cargar</button>
	</form>
	<h1>Actualizar datos</h1>
	<form action="/update" method="post">
		<button type="submit">Actualizar</button>
	</form>
</body>
</html>