%include('base.html')

		<div class="panel panel-default">
 
		  <div class="panel-heading"><b>Upload File of Stage</b></div>
		  	<div class="panel-body">
		   		<form enctype="multipart/form-data" action="/stage/upload" method="post">
					<p><input type="file" name="stage"></p>
					<input type="submit" value="Upload">
					</label>
				</form>
		  </div>
 
% if flagFile:

	<table class="table table-hover" align="center">
				<thead align="center">	
					
		<tr>
			<form action="/stage/show" method="post">
				<div class="panel panel-default">
					<div class="panel-heading"><strong>Stage Id Nº:
		            <input name="stage" type="text" size="1"  value="{{stage_id}}">
		            <input type="submit" value="Search"></strong><div style="text-align:right;"><b>Stage {{stage_id}} from {{count}}</b></div>
            	</div>
            	</div>
        	</form>
        	
   		 </tr>
   		</thead>
   		<tbody align="center">
   		 <tr>
			<td><strong>Stage</strong></th>
			<td><strong>Zone</strong></th>
		</tr>
			
			% for zone in zones:
			<tr>
		       <td>{{zone.stage_id}}</td>
		       <td>{{zone.zone}}</td>
			</tr>
			% end
			</td>
		</tr>
		</tbody>
	</table>
</div>
	<a href="/stage/deletall">Delete All Stages</a>
	
%else:

<h3>Archivo incorrecto. Verifique</h3>

%end