<html>
<head>
	<style>
		table, th, tr, td {
			border: 1px solid #ccc;
		}
	</style>
</head>
<body>
	<a href="/">Home</a>
	<a href="/drivers">Corredores</a>
	<a href="/zones">Zonas</a>
	<a href="/stages">Etapas</a>
	<a href="/resultado">Resultados</a>
	
<h1>Tiempos de Largada</h1>

<table>
	<thead>
		<tr>
			<th>Actions</th>
			<th>Name</th>
			<th>StartTime</th>
		</tr>
	</thead>
<tbody>
	% for item in rows:
	<tr>
       <td><button>x</button></td>
       <td>{{item.start_time}}</td>
       <td>{{item.name}}</td>
	</tr>
	% end
</tbody>
</table>
</body>
</html>